<div class="col-xxl-6 box-col-12">
    <div class="card">
        <div class="card-header total-revenue card-no-border">
            <h4>Ürünler</h4><a href="product.html">Tümünü Gör</a>
        </div>
        <div class="card-body pt-0">
            <div class="table-order table-responsive custom-scrollbar">
                <table class="order-table w-100">
                    <thead>
                        <tr>
                            <th>Ürün Adı</th>
                            <th>Kategori</th>
                            <th>Stok</th>
                            <th>Variants</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="product-name">
                                    <img class="order-table-images img-fluid" src="/Riho-Bootstrap-Admin/admin/assets/images/dashboard/order-table/6.png" alt="user">
                                    <div class="product-sub"> <a class="f-14 f-w-600" href="product.html">Formal Shirts</a></div>
                                </div>
                            </td>
                            <td>
                                <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Men</a></div>
                            </td>
                            <td>
                                <div class="media">
                                    <div class="media-body text-end switch-sm">
                                        <label class="switch">
                                            <input type="checkbox" checked="checked"><span class="switch-state"> </span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h6>3</h6>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <div id="dropdownMenuButtonicon6" data-bs-toggle="dropdown" aria-expanded="false" role="menu">
                                        <svg class="invoice-icon">
                                            <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#more-horizontal"></use>
                                        </svg>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonicon6"><span class="dropdown-item">Geçen Ay</span><span class="dropdown-item">Geçen Hafta</span><span class="dropdown-item">Dün </span></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-name">
                                    <img class="order-table-images img-fluid" src="/Riho-Bootstrap-Admin/admin/assets/images/dashboard/order-table/7.png" alt="user">
                                    <div class="product-sub"> <a class="f-14 f-w-600" href="product.html">Loafers</a></div>
                                </div>
                            </td>
                            <td>
                                <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Men</a></div>
                            </td>
                            <td>
                                <div class="media">
                                    <div class="media-body text-end switch-sm">
                                        <label class="switch">
                                            <span class="switch-state"> </span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h6>1</h6>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <div id="dropdownMenuButtonMenu8" data-bs-toggle="dropdown" aria-expanded="false" role="menu">
                                        <svg class="invoice-icon">
                                            <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#more-horizontal"></use>
                                        </svg>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonMenu8"><span class="dropdown-item">Geçen Ay</span><span class="dropdown-item">Geçen Hafta</span><span class="dropdown-item">Dün </span></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-name">
                                    <img class="order-table-images img-fluid" src="/Riho-Bootstrap-Admin/admin/assets/images/dashboard/order-table/8.png" alt="user">
                                    <div class="product-sub"> <a class="f-14 f-w-600" href="product.html">Jeans</a></div>
                                </div>
                            </td>
                            <td>
                                <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Women</a></div>
                            </td>
                            <td>
                                <div class="media">
                                    <div class="media-body text-end switch-sm">
                                        <label class="switch">
                                            <input type="checkbox" checked="checked"><span class="switch-state"> </span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h6>4</h6>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <div id="dropdownMenuButtonicon3" data-bs-toggle="dropdown" aria-expanded="false" role="menu">
                                        <svg class="invoice-icon">
                                            <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#more-horizontal"></use>
                                        </svg>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonicon3"><span class="dropdown-item">Geçen Ay</span><span class="dropdown-item">Geçen Hafta</span><span class="dropdown-item">Dün </span></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-name">
                                    <img class="order-table-images img-fluid" src="/Riho-Bootstrap-Admin/admin/assets/images/dashboard/order-table/9.png" alt="user">
                                    <div class="product-sub"> <a class="f-14 f-w-600" href="product.html">Saree</a></div>
                                </div>
                            </td>
                            <td>
                                <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Women</a></div>
                            </td>
                            <td>
                                <div class="media">
                                    <div class="media-body text-end switch-sm">
                                        <label class="switch">
                                            <input type="checkbox" checked="checked"><span class="switch-state"> </span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h6>3</h6>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <div id="dropdownMenuButtonicon9" data-bs-toggle="dropdown" aria-expanded="false" role="menu">
                                        <svg class="invoice-icon">
                                            <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#more-horizontal"></use>
                                        </svg>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonicon9"><span class="dropdown-item">Geçen Ay</span><span class="dropdown-item">Geçen Hafta</span><span class="dropdown-item">Dün </span></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>