@model CreateProducthasStockModel
@{
    ViewData["Title"] = "CreateProducthasStock";
    Layout = "~/Areas/Admin/Views/AdminUILayout/Index.cshtml";
}


<link rel="stylesheet" type="text/css" href="/Riho-Bootstrap-Admin/admin/assets/css/vendors/quill.snow.css">
<link rel="stylesheet" type="text/css" href="/Riho-Bootstrap-Admin/admin/assets/css/vendors/intltelinput.min.css">
<link rel="stylesheet" type="text/css" href="/Riho-Bootstrap-Admin/admin/assets/css/vendors/tagify.css">
<link rel="stylesheet" type="text/css" href="/Riho-Bootstrap-Admin/admin/assets/css/vendors/flatpickr/flatpickr.min.css">


<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div id="alert-container"></div>
                        <form id="stock-form" method="post" enctype="multipart/form-data" asp-action="CreateProducthasStock">
                            <div class="form theme-form">
                                <input type="hidden" asp-for="ProductId" value="@ViewBag.ProductId" />
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label asp-for="StockQuantity"></label>
                                            <input class="form-control" asp-for="StockQuantity" type="text" placeholder="Adet *">
                                            <span class="text-danger email-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-end">
                                        <button type="submit" class="btn btn-success me-3">Ekle</button>
                                        <a class="btn btn-danger" href="/Admin/Product/Index">İptal</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Riho-Bootstrap-Admin/admin/assets/js/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- scrollbar js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/scrollbar/simplebar.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/scrollbar/custom.js"></script>
<!-- Sidebar jquery-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/config.js"></script>
<!-- Plugins JS start-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/sidebar-menu.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/sidebar-pin.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/slick/slick.min.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/slick/slick.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/header-slick.js"></script>

<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#stock-form').on('submit', function (e) {
            e.preventDefault(); // Formun varsayılan davranışını engelle

            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: '/Admin/ProducthasStock/CreateProducthasStock',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.redirectUrl;
                    } else {
                        $.each(response.errors, function (key, value) {
                            var errorSpan = $('input[name="' + key + '"]').next('span');
                            errorSpan.text(value);
                        });

                        if (response.errors.General) {
                            $('#alert-container').html('<div class="alert alert-danger">' + response.errors.General + '</div>');
                        }
                    }
                },
                error: function () {
                    $('#alert-container').html('<div class="alert alert-danger">Bilinmeyen bir hata oluştu.</div>');
                    setTimeout(function () {
                        $('#alert-container').html(''); // Mesajı temizler
                    }, 5000);
                }
            });
        });
    });
</script>
