
<td> <b>Stok &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;</b></td>

<td class="txt-success">@ViewBag.Stock</td>

<a href="@Url.Action("UpdateProducthasStock", "ProducthasStock", new {area="Admin", id = ViewBag.Id })" class="btn btn-primary mt-2">Stok Bilgilerini Güncelle</a>
