<div class="col-xl-5 col-sm-6">
    <div class="card height-equal">
        <div class="card-body">
            <ul class="product-costing">
                <li class="product-cost">
                    <div class="product-icon bg-primary-light">
                        <svg>
                            <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#activity"></use>
                        </svg>
                    </div>
                    <div>
                        <span class="f-w-500 f-14 mb-0">Toplam Satışlar</span>
                        <h2 class="f-w-600">₹98,459</h2>
                    </div>
                </li>
                <li> <span class="f-light f-14 f-w-500">Bu hafta satışımız +18.2k.</span></li>
            </ul>
            <ul class="product-costing">
                <li class="product-cost">
                    <div class="product-icon bg-warning-light">
                        <svg>
                            <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#people"></use>
                        </svg>
                    </div>
                    <div>
                        <span class="f-w-500 f-14 mb-0">Toplam Ziyaretçi</span>
                        <h2 class="f-w-600">54,156</h2>
                    </div>
                </li>
                <li> <span class="f-light f-14 f-w-500">Bu hafta toplam +3,5 bin ziyaretçimiz var.</span></li>
            </ul>
            <ul class="product-costing">
                <li class="product-cost">
                    <div class="product-icon bg-light">
                        <svg>
                            <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#task-square"></use>
                        </svg>
                    </div>
                    <div>
                        <span class="f-w-500 f-14 mb-0">Toplam Siparişler</span>
                        <h2 class="f-w-600">5,125</h2>
                    </div>
                </li>
                <li> <span class="f-light f-14 f-w-500">Bu hafta toplamda +5k sipariş aldık.</span></li>
            </ul>
            <ul class="product-costing">
                <li class="product-cost">
                    <div class="product-icon bg-danger-light">
                        <svg>
                            <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#money-recive"></use>
                        </svg>
                    </div>
                    <div>
                        <span class="f-w-500 f-14 mb-0">İade</span>
                        <h2 class="f-w-600">₹20,000</h2>
                    </div>
                </li>
                <li> <span class="f-light f-14 f-w-500">Bu hafta +66 bin iade aldık.</span></li>
            </ul>
        </div>
    </div>
</div>