<div class="col-xl-6 box-col-7">
    <div class="card">
        <div class="card-header sales-chart card-no-border pb-0">
            <h4>Satış Tablosu </h4>
            <div class="sales-chart-dropdown">
                <ul class="balance-data">
                    <li> <span class="circle bg-warning"></span><span class="f-light ms-1">Hasılat</span></li>
                    <li><span class="circle bg-primary"> </span><span class="f-light ms-1">Sipariş</span></li>
                </ul>
                <div class="sales-chart-dropdown-select">
                    <div class="card-header-right-icon online-store">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle dropdown-toggle-store" id="dropdownMenuButtonToggle" data-bs-toggle="dropdown" aria-expanded="false">Mağaza</button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonToggle" role="menu"><span class="dropdown-item">Tümü </span><span class="dropdown-item">Çalışan</span><span class="dropdown-item">Müşteri    </span></div>
                        </div>
                    </div>
                    <div class="card-header-right-icon">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Önceki Yıl </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1" role="menu"><span class="dropdown-item">Önceki Ay</span><span class="dropdown-item">Geçen Hafta </span><span class="dropdown-item">Bugün  </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-2 pt-0">
            <div class="sales-wrapper">
                <div id="saleschart"> </div>
            </div>
        </div>
    </div>
</div>