<div class="col-xl-7 col-sm-6">
    <div class="card height-equal">
        <div class="card-header pb-0 total-revenue card-no-border">
            <h4>Satış Geçmişi </h4><a href="index.html">Tümünü Gör</a>
        </div>
        <div class="card-body">
            <ul>
                <li class="sale-history-card">
                    <div class="history-price"><a class="f-w-500 f-14  mb-0" href="category.html">Oxford shirt with rolled sleeve</a><span class="mb-0 txt-primary f-w-600 f-16">₹1500.14</span></div>
                    <div class="state-time"> <span class="f-w-500 f-14 f-light mb-0">İstanbul</span><span class="f-w-400 f-14 f-light">50 dk önce</span></div>
                </li>
                <li class="sale-history-card">
                    <div class="history-price"><a class="f-w-500 f-14  mb-0" href="category.html">Jordans 1 yüksek yaka tişört</a><span class="mb-0 txt-primary f-w-600 f-16">₹1800.87</span></div>
                    <div class="state-time"> <span class="f-w-500 f-14 f-light mb-0">Ankara</span><span class="f-w-400 f-14 f-light">40 dk önce</span></div>
                </li>
                <li class="sale-history-card">
                    <div class="history-price"><a class="f-w-500 f-14  mb-0" href="category.html">Grafik Baskılı Erkek Yuvarlak Yaka Beyaz...</a><span class="mb-0 txt-primary f-w-600 f-16">₹2000.84</span></div>
                    <div class="state-time"> <span class="f-w-500 f-14 f-light mb-0">Bursa</span><span class="f-w-400 f-14 f-light">35 dk önce</span></div>
                </li>
                <li class="sale-history-card">
                    <div class="history-price"><a class="f-w-500 f-14  mb-0" href="category.html">Tam Kollu Düz Kadın Kot Ceket...</a><span class="mb-0 txt-primary f-w-600 f-16">₹1500.14</span></div>
                    <div class="state-time"> <span class="f-w-500 f-14 f-light mb-0">Antalya</span><span class="f-w-400 f-14 f-light">50 dk önce</span></div>
                </li>
                <li class="sale-history-card">
                    <div class="history-price"><a class="f-w-500 f-14  mb-0" href="category.html">İnce Kadın Siyah Kot Pantolon</a><span class="mb-0 txt-primary f-w-600 f-16">₹780.25</span></div>
                    <div class="state-time"> <span class="f-w-500 f-14 f-light mb-0">İzmir</span><span class="f-w-400 f-14 f-light">28 dk önce</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>