<!-- Menu Mobile -->
<div class="menu-mobile">
	<ul class="topbar-mobile">
		<li>
			<div class="left-top-bar">
				500 TL ve üzeri alışverişlerinizde kargo ücretsiz!
			</div>
		</li>

		<li>
			<div class="right-top-bar flex-w h-full">
				<a href="#" class="flex-c-m p-lr-10 trans-04">
					Yardım
				</a>

				<a href="/UserPage/Index" class="flex-c-m p-lr-10 trans-04">
					Sayfam
				</a>

				<a href="#" class="flex-c-m p-lr-10 trans-04">
					TR
				</a>

				<a href="#" class="flex-c-m p-lr-10 trans-04">
					TL
				</a>
			</div>
		</li>
	</ul>

	<ul class="main-menu-m">
		<li>
			<a href="/Default/Index">Anasayfa</a>
			<span class="arrow-main-menu-m">
				<i class="fa fa-angle-right" aria-hidden="true"></i>
			</span>
		</li>

		<li>
			<a href="/Category/Index">Kategoriler</a>
		</li>

		<li>
			<a href="/Product/Index" class="label1 rs1" data-label1="hot">Ürünler</a>
		</li>

		<li>
			<a href="/About/Index">Hakkımızda</a>
		</li>

		<li>
			<a href="/Contact/Index">İletişim</a>
		</li>
	</ul>
</div>