<div class="col-xxl-3 col-md-6 box-col-6">
    <div class="col-xl-12">
        <div class="card product-widget">
            <div class="card-body new-product">
                <div class="product-cost">
                    <div class="add-product">
                        <div class="product-icon bg-light-primary">
                            <svg>
                                <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#box-add"></use>
                            </svg>
                        </div>
                        <div>
                            <h6 class="mb-1">Yeni Ürün Ekle</h6><span class="f-light">Görüntüler önemli bir sergilemedir</span>
                        </div>
                    </div>
                    <div class="product-icon">
                        <svg>
                            <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#arrow-down"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card product-widget">
            <div class="card-body new-product">
                <div class="product-cost">
                    <div class="add-product">
                        <div class="product-icon bg-light-primary">
                            <svg>
                                <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#receipt-disscount"></use>
                            </svg>
                        </div>
                        <div>
                            <h6 class="mb-1">İndirim Ekle </h6><span class="f-light">Ürün görselleri platforma</span>
                        </div>
                    </div>
                    <div class="product-icon">
                        <svg>
                            <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#arrow-down"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card product-widget">
            <div class="card-body new-product">
                <div class="product-cost">
                    <div class="add-product">
                        <div class="product-icon bg-light-primary">
                            <svg>
                                <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#box-add"></use>
                            </svg>
                        </div>
                        <div>
                            <h6 class="mb-1">Yeni Ürün Ekle</h6><span class="f-light">Görüntüler önemli bir sergilemedir</span>
                        </div>
                    </div>
                    <div class="product-icon">
                        <svg>
                            <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#arrow-down"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card product-widget">
            <div class="card-body new-product">
                <div class="product-cost">
                    <div class="add-product">
                        <div class="product-icon bg-light-primary">
                            <svg>
                                <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#receipt-disscount"></use>
                            </svg>
                        </div>
                        <div>
                            <h6 class="mb-1">İndirim Ekle </h6><span class="f-light">Ürün görselleri platforma</span>
                        </div>
                    </div>
                    <div class="product-icon">
                        <svg>
                            <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#arrow-down"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>