<div class="col-xxl-6 col-md-12 box-col-12">
    <div class="card height-equal">
        <div class="card-header total-revenue card-no-border">
            <h4>Son Siparişler</h4>
            <div class="d-flex align-items-center gap-2">
                <span class="update-data d-none d-md-block f-light">Veriler her 3 saatte bir güncellenmektedir</span>
                <div class="sales-chart-dropdown-select">
                    <div class="card-header-right-icon">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" id="dropdownMenuButtondownMenu" data-bs-toggle="dropdown" aria-expanded="false">Bugün </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtondownMenu" role="menu"><span class="dropdown-item">Geçen Ay</span><span class="dropdown-item">Geçen Hafta </span><span class="dropdown-item">Dün</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="table-order table-responsive custom-scrollbar">
                <table class=" latest-orders w-100">
                    <thead>
                        <tr>
                            <th>Sipariş No</th>
                            <th>Fatura Adı</th>
                            <th>Miktar</th>
                            <th>Durum</th>
                            <th>Fatura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="product-name">
                                    <img class="order-table-images img-fluid" src="/Riho-Bootstrap-Admin/admin/assets/images/dashboard/order-table/1.png" alt="product">
                                    <div class="product-sub"> <a class=" f-14 f-w-500 " href="product.html">Winter Jecket</a><span class="f-light f-14 f-w-500 d-block">ID : 4859578</span></div>
                                </div>
                            </td>
                            <td>
                                <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Amit Shah</a><span class="f-light f-14 f-w-500 d-block">amith14@gmail.com</span></div>
                            </td>
                            <td>
                                <div class="product-sub"> <a class="f-14 f-w-500" href="product.html">₹1500.45</a><span class="f-light f-14 f-w-500 d-block">Google Pay</span></div>
                            </td>
                            <td>
                                <div class="badge-light-primary product-sub badge rounded-pill"><span>Delivered</span></div>
                            </td>
                            <td>
                                <div class="product-sub">
                                    <svg class="invoice-icon">
                                        <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#fream"></use>
                                    </svg>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-name">
                                    <img class="order-table-images img-fluid" src="/Riho-Bootstrap-Admin/admin/assets/images/dashboard/order-table/2.png" alt="product">
                                    <div class="product-sub"> <a class=" f-14 f-w-500 " href="product.html">Casual Trousere</a><span class="f-light f-14 f-w-500 d-block">ID : 4875566</span></div>
                                </div>
                            </td>
                            <td>
                                <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Arlene McCoy</a><span class="f-light f-14 f-w-500 d-block">arlene1@gmail.com</span></div>
                            </td>
                            <td>
                                <div class="product-sub"> <a class="f-14 f-w-500" href="product.html">₹785.62</a><span class="f-light f-14 f-w-500 d-block">Credit Card</span></div>
                            </td>
                            <td>
                                <div class="badge-light-warning product-sub badge rounded-pill"><span>Shipped</span></div>
                            </td>
                            <td>
                                <div class="product-sub">
                                    <svg class="invoice-icon">
                                        <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#fream"></use>
                                    </svg>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-name">
                                    <img class="order-table-images img-fluid" src="/Riho-Bootstrap-Admin/admin/assets/images/dashboard/order-table/3.png" alt="product">
                                    <div class="product-sub"> <a class=" f-14 f-w-500 " href="product.html">Silk Saree</a><span class="f-light f-14 f-w-500 d-block">ID : 7894561</span></div>
                                </div>
                            </td>
                            <td>
                                <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Marvin McKinney</a><span class="f-light f-14 f-w-500 d-block">marvin4@gmail.com</span></div>
                            </td>
                            <td>
                                <div class="product-sub"> <a class="f-14 f-w-500" href="product.html">₹2000.02</a><span class="f-light f-14 f-w-500 d-block">Debit Card</span></div>
                            </td>
                            <td>
                                <div class="badge-light-secondary product-sub badge rounded-pill"><span>Processing</span></div>
                            </td>
                            <td>
                                <div class="product-sub">
                                    <svg class="invoice-icon">
                                        <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#fream"></use>
                                    </svg>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product-name">
                                    <img class="order-table-images img-fluid" src="/Riho-Bootstrap-Admin/admin/assets/images/dashboard/order-table/4.png" alt="product">
                                    <div class="product-sub"> <a class=" f-14 f-w-500 " href="product.html">Men’s Loafers</a><span class="f-light f-14 f-w-500 d-block">ID : 1234567</span></div>
                                </div>
                            </td>
                            <td>
                                <div class="product-sub"><a class="f-14 f-w-500" href="product.html">Annette Black</a><span class="f-light f-14 f-w-500 d-block">black45@gmail.com</span></div>
                            </td>
                            <td>
                                <div class="product-sub"> <a class="f-14 f-w-500" href="product.html">₹1589.25</a><span class="f-light f-14 f-w-500 d-block">Pay Pal</span></div>
                            </td>
                            <td>
                                <div class="badge-light-light product-sub badge rounded-pill"><span>Cancelled</span></div>
                            </td>
                            <td>
                                <div class="product-sub">
                                    <svg class="invoice-icon">
                                        <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#fream"></use>
                                    </svg>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>