
<div class="col-xxl-6 col-md-12 box-col-12">
    <div class="card height-equal">
        <div class="card-header total-revenue card-no-border">
            <h4>Son Siparişler</h4>
            <div class="d-flex align-items-center gap-2">
                <span class="update-data d-none d-md-block f-light">Veriler anlık olarak güncellenmektedir</span>
                <div class="sales-chart-dropdown-select">
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="table-order table-responsive custom-scrollbar">

                @* SİGNALR ANLIK VERİ İŞLEMİ *@

                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

                <script type="text/javascript">
                    $(document).ready(() => {
                        // SignalR bağlantısı oluştur
                        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7171/SignalRHub").build();

                        // Bağlantı durumu yazdır
                        $("#connstatus").text(connection.state);

                        // Bağlantıyı başlat
                        connection.start().then(() => {
                            $("#connstatus").text(connection.state);

                            // Verileri göndermek için aralık belirle
                            setInterval(() => {
                                connection.invoke("SendDashboard");
                            }, 2000);

                        }).catch((err) => {
                            console.error(err);
                        });

                        // SignalR'dan gelen veriyi işleme
                        connection.on("Receivelast4OrderList", (last4OrderList) => {
                            // Tablo gövdesini temizle
                            let tableBody = $("table.latest-orders tbody");
                            tableBody.empty();

                            // Gelen veriyi tabloya ekle
                            last4OrderList.forEach(order => {
                                let row = `
                                        <tr>
                                            <td>
                                                <div class="product-name">
                                                    <img class="order-table-images img-fluid" src="${order.coverPhoto}" alt="product">
                                                    <div class="product-sub">
                                                        <a class="f-14 f-w-500" href="#">${order.productName.length > 20 ? order.productName.substring(0, 20) + "..." : order.productName}</a>
                                                        <span class="f-light f-14 f-w-500 d-block">${order.id}</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="product-sub">
                                                    <a class="f-14 f-w-500" href="#">${order.userName}</a>
                                                    <span class="f-light f-14 f-w-500 d-block">${order.email.length > 20 ? order.email.substring(0,20)+ "..." : order.email}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="product-sub">
                                                    <a class="f-14 f-w-500" href="#">${order.price}</a>
                                                    <span class="f-light f-14 f-w-500 d-block">Kredi Kartı/Havale</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="badge-light-primary product-sub badge rounded-pill">
                                                    <span>${order.statusName}</span>
                                                </div>
                                            </td>
                                        </tr>
                                    `;
                                tableBody.append(row);
                            });
                        });
                    });
                </script>




                <table class=" latest-orders w-100">
                    <thead>
                        <tr>
                            <th>Sipariş No</th>
                            <th>Fatura Adı</th>
                            <th>Miktar</th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @* <tr>
                            <td>
                                <div class="product-name">
                                    <img class="order-table-images img-fluid" src="ConvertPhoto" alt="product">
                                    <div class="product-sub"> <a class=" f-14 f-w-500 " href="#">OrderProductName</a><span class="f-light f-14 f-w-500 d-block">OrderId</span></div>
                                </div>
                            </td>
                            <td>
                                <div class="product-sub"><a class="f-14 f-w-500" href="product.html">UserName</a><span class="f-light f-14 f-w-500 d-block">Email</span></div>
                            </td>
                            <td>
                                <div class="product-sub"> <a class="f-14 f-w-500" href="product.html">Price</a><span class="f-light f-14 f-w-500 d-block">Kredi Kartı/Havale</span></div>
                            </td>
                            <td>
                                <div class="badge-light-primary product-sub badge rounded-pill"><span>Durum</span></div>
                            </td>
                        </tr> *@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>