<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <div class="total-revenue mb-2"> <span>Toplam Gelir</span><a href="index.html">Raporu Görüntüle</a></div>
            <h3 class="f-w-600">₹97,250.89 </h3>
            <div class="total-chart">
                <div class="data-grow d-flex gap-2"><i class="font-primary" data-feather="arrow-up-right"></i><span class="f-w-500">Geçen yıla göre %60,00 </span></div>
                <div class="total-revenue-chart">
                    <div id="revenue"></div>
                </div>
            </div>
        </div>
    </div>
</div>