

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/_WebUILayout/Index.cshtml";
}


<!-- Cart -->
@await Html.PartialAsync("~/Views/_WebUILayoutPartial/_WebUILayoutCardPartial.cshtml")

<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="~/cozastore-master/index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<a href="~/cozastore-master/product.html" class="stext-109 cl8 hov-cl1 trans-04">
			Men
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			Lightweight Jacket
		</span>
	</div>
</div>


<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
	<form asp-action="AddToCart" asp-controller="Cart" method="post">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								@await Component.InvokeAsync("_ProductDetailImagesComponentPartial", new { productId = ViewBag.ProductId })
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-6 col-lg-5 p-b-30">
					@await Component.InvokeAsync("_ProductDetailComponentPartial", new { id = ViewBag.ProductId })
				</div>

			</div>

			<div class="bor10 m-t-50 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">
							<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Açıklama</a>
						</li>

						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#information" role="tab">Ürün Bilgisi</a>
						</li>

						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Yorumlar (1)</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content p-t-43">
						<!-- - -->
						<div class="tab-pane fade show active" id="description" role="tabpanel">
							@await Component.InvokeAsync("_ProductDetailDescriptionComponentPartial", new { productId = ViewBag.ProductId })
						</div>

						<!-- - -->
						<div class="tab-pane fade" id="information" role="tabpanel">
							<div class="row">
								<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
									@* @await Component.InvokeAsync("_ProductDetailInformationComponentPartial", new { productId = ViewBag.ProductId }) *@
								</div>
							</div>
						</div>

						<!-- - -->
						<div class="tab-pane fade" id="reviews" role="tabpanel">
							<div class="row">
								<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
									<div class="p-b-30 m-lr-15-sm">
										<!-- Review -->
										@* @await Component.InvokeAsync("_ProductDetailReviewComponentPartial", new { productId = ViewBag.ProductId }) *@

										<!-- Add review -->
										@* @await Html.PartialAsync("~/Views/ProductDetailPartial/AddReview.cshtml", new { productId = ViewBag.ProductId }) *@
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	

	<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
		<span class="stext-107 cl6 p-lr-25">
			SKU: JAK-01
		</span>

		<span class="stext-107 cl6 p-lr-25">
			Categories: Jacket, Men
		</span>
	</div>
</section>


<!-- Related Products -->
@*  @await Component.InvokeAsync("_ProductDetailRelatedProductsComponentPartial", new { productId = ViewBag.ProductId })  *@




<!-- Bu script fotoraflar arasında gezerken ürünü basket'e ekliyordu onu engellemek için davranışı engellenmiştir-->
<script>
	$(document).on('click', '.prev-slick3, .next-slick3', function (e) {
		e.preventDefault();
	});
</script>