@model ResultCategoryModel

@foreach (var item in Model.Data)
{
	<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="@("." + item.CategoryName.ToLower().Replace(" ", ""))">
		@item.CategoryName
	</button>
}