<div class="notification-box">
    <svg>
        <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#notification-header"></use>
    </svg><span class="badge rounded-pill badge-secondary">4 </span>
</div>
<div class="onhover-show-div notification-dropdown">
    <div class="card mb-0">
        <div class="card-header">
            <div class="common-space">
                <h4 class="text-start f-w-600">Bildirim</h4>
                <div><span>4 Yeni</span></div>
            </div>
        </div>
        <div class="card-body">
            <div class="notitications-bar">
                <ul class="nav nav-pills nav-primary p-0" id="pills-tab" role="tablist">
                    <li class="nav-item p-0"> <a class="nav-link active" id="pills-aboutus-tab" data-bs-toggle="pill" href="#pills-aboutus" role="tab" aria-controls="pills-aboutus" aria-selected="true">Tümü(3)</a></li>
                    <li class="nav-item p-0">
                        <a class="nav-link" id="pills-blog-tab" data-bs-toggle="pill" href="#pills-blog" role="tab" aria-controls="pills-blog" aria-selected="false">
                            Mesaj
                        </a>
                    </li>
                    <li class="nav-item p-0">
                        <a class="nav-link" id="pills-contactus-tab" data-bs-toggle="pill" href="#pills-contactus" role="tab" aria-controls="pills-contactus" aria-selected="false">
                            Sipariş
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-aboutus" role="tabpanel" aria-labelledby="pills-aboutus-tab">
                        <div class="user-message">
                            <div class="cart-dropdown notification-all">
                                <ul>
                                    <li class="pr-0 pl-0 pb-3 pt-3">
                                        <div class="media">
                                            <img class="img-fluid b-r-5 me-3 img-60" src="/Riho-Bootstrap-Admin/admin/assets/images/other-images/receiver-img.jpg" alt="">
                                            <div class="media-body">
                                                <a class="f-light f-w-500" href="/Riho-Bootstrap-Admin/admin/template/product.html">Erkek Mavi Tişört</a>
                                                <div class="qty-box">
                                                    <div class="input-group">
                                                        <span class="input-group-prepend">
                                                            <button class="btn quantity-left-minus" type="button" data-type="minus" data-field="">- </button>
                                                        </span>
                                                        <input class="form-control input-number" type="text" name="quantity" value="1"><span class="input-group-prepend">
                                                            <button class="btn quantity-right-plus" type="button" data-type="plus" data-field="">+</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <h6 class="font-primary">6950.00 TL</h6>
                                            </div>
                                            <div class="close-circle"><a class="bg-danger" href="#"><i data-feather="x"></i></a></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ul>
                                <li>
                                    <div class="user-alerts">
                                        <img class="user-image rounded-circle img-fluid me-2" src="/Riho-Bootstrap-Admin/admin/assets/images/dashboard/user/5.jpg" alt="user" />
                                        <div class="user-name">
                                            <div>
                                                <h6><a class="f-w-500 f-14" href="/Riho-Bootstrap-Admin/admin/template/user-profile.html">Ali Yıldırım</a></h6><span class="f-light f-w-500 f-12">Beyefendi, des'deki kısmı kaldırabilir miyim?...</span>
                                            </div>
                                            <div>
                                                <svg>
                                                    <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#more-vertical"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-alerts">
                                        <img class="user-image rounded-circle img-fluid me-2" src="/Riho-Bootstrap-Admin/admin/assets/images/dashboard/user/6.jpg" alt="user" />
                                        <div class="user-name">
                                            <div>
                                                <h6><a class="f-w-500 f-14" href="/Riho-Bootstrap-Admin/admin/template/user-profile.html">Ahmt Ayna</a></h6><span class="f-light f-w-500 f-12">Peki, bir sonraki işim ne olacak?</span>
                                            </div>
                                            <div>
                                                <svg>
                                                    <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#more-vertical"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-blog" role="tabpanel" aria-labelledby="pills-blog-tab">
                        <div class="notification-card">
                            <ul>
                                <li class="notification d-flex w-100 justify-content-between align-items-center">
                                    <div class="d-flex w-100 notification-data justify-content-center align-items-center gap-2">
                                        <div class="user-alerts flex-shrink-0"><img class="rounded-circle img-fluid img-40" src="/Riho-Bootstrap-Admin/admin/assets/images/dashboard/user/3.jpg" alt="user" /></div>
                                        <div class="flex-grow-1">
                                            <div class="common-space user-id w-100">
                                                <div class="common-space w-100"> <a class="f-w-500 f-12" href="/Riho-Bootstrap-Admin/admin/template/private-chat.html">Ayşe Yılmaz</a></div>
                                            </div>
                                            <div><span class="f-w-500 f-light f-12">Merhaba Bay...😊</span></div>
                                        </div><span class="f-light f-w-500 f-12">44 sn</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contactus" role="tabpanel" aria-labelledby="pills-contactus-tab">
                        <div class="cart-dropdown mt-4">
                            <ul>
                                <li class="pr-0 pl-0 pb-3">
                                    <div class="media">
                                        <img class="img-fluid b-r-5 me-3 img-60" src="/Riho-Bootstrap-Admin/admin/assets/images/other-images/cart-img.jpg" alt="">
                                        <div class="media-body">
                                            <a class="f-light f-w-500" href="/Riho-Bootstrap-Admin/admin/template/product.html">Ev İçin Mobilya Sandalye</a>
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <button class="btn quantity-left-minus" type="button" data-type="minus" data-field="">-</button>
                                                    </span>
                                                    <input class="form-control input-number" type="text" name="quantity" value="1"><span class="input-group-prepend">
                                                        <button class="btn quantity-right-plus" type="button" data-type="plus" data-field="">+</button>
                                                    </span>
                                                </div>
                                            </div>
                                            <h6 class="font-primary">5000 TL</h6>
                                        </div>
                                        <div class="close-circle"><a class="bg-danger" href="#"><i data-feather="x"></i></a></div>
                                    </div>
                                </li>
                                <li class="pr-0 pl-0 pb-3 pt-3">
                                    <div class="media">
                                        <img class="img-fluid b-r-5 me-3 img-60" src="/Riho-Bootstrap-Admin/admin/assets/images/other-images/receiver-img.jpg" alt="">
                                        <div class="media-body">
                                            <a class="f-light f-w-500" href="/Riho-Bootstrap-Admin/admin/template/product.html">Erkek Mavi Tişört</a>
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <span class="input-group-prepend">
                                                        <button class="btn quantity-left-minus" type="button" data-type="minus" data-field="">- </button>
                                                    </span>
                                                    <input class="form-control input-number" type="text" name="quantity" value="1"><span class="input-group-prepend">
                                                        <button class="btn quantity-right-plus" type="button" data-type="plus" data-field="">+</button>
                                                    </span>
                                                </div>
                                            </div>
                                            <h6 class="font-primary">6950.00 TL</h6>
                                        </div>
                                        <div class="close-circle"><a class="bg-danger" href="#"><i data-feather="x"></i></a></div>
                                    </div>
                                </li>
                                <li class="mb-3 total">
                                    <a href="/Riho-Bootstrap-Admin/admin/template/checkout.html">
                                        <h6 class="mb-0">
                                            Toplam Tutatr :<span class="f-right">11095.00 TL  </span>
                                        </h6>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer pb-0 pr-0 pl-0">
                        <div class="text-center">
                            <a class="f-w-700" href="private-chat.html">
                                <button class="btn btn-primary" type="button" title="btn btn-primary">Kontrol Et</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>