
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminUILayout/Index.cshtml";
}

<title>FGShop Admin Dashboard</title>

<!-- Page Body--> 
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>
                        FGShop
                    </h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <svg class="stroke-icon">
                                    <use href="/Riho-Bootstrap-Admin/admin/assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Dashboard </li>
                        <li class="breadcrumb-item active">E-Ticaret</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            @await Component.InvokeAsync("_Dashboard7LastOrdersTableComponentPartial")
            @await Component.InvokeAsync("_Dashboard8ProductsTableComponentPartial")
            <div class="col-xl-3 col-md-6 box-col-5 total-revenue-total-order">
                <div class="row">
                    @await Component.InvokeAsync("_Dashboard2TotalIncomeTableComponentPartial")
                    @await Component.InvokeAsync("_Dashboard3TotalOrderTableComponentPartial")
                </div>
            </div>
            @await Component.InvokeAsync("_Dashboard4SpecialDiscountTableComponentPartial")
            <div class="col-xxl-6 box-col-12">
                <div class="row">
                    @await Component.InvokeAsync("_Dashboard5OrderReturnTableComponentPartial")
                    @await Component.InvokeAsync("_Dashboard6SalesHistoryTableComponentPartial")
                </div>
            </div>
            
           
        </div>
    </div>
    <!-- Container-fluid Ends -->
</div>


<!-- latest jquery-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/jquery.min.js"></script>
<!-- Bootstrap js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<!-- feather icon js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- scrollbar js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/scrollbar/simplebar.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/scrollbar/custom.js"></script>
<!-- Sidebar jquery-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/config.js"></script>
<!-- Plugins JS start-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/sidebar-menu.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/sidebar-pin.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/slick/slick.min.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/slick/slick.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/header-slick.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/chart/apex-chart/apex-chart.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/chart/apex-chart/stock-prices.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/chart/apex-chart/moment.min.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/notify/bootstrap-notify.min.js"></script>
<!-- calendar js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/dashboard/default.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/notify/index.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/typeahead/handlebars.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/typeahead/typeahead.bundle.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/typeahead/typeahead.custom.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/typeahead-search/handlebars.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/typeahead-search/typeahead-custom.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/height-equal.js"></script>
<script src="/Riho-Bootstrap-Admin/admin/assets/js/animation/wow/wow.min.js"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="/Riho-Bootstrap-Admin/admin/assets/js/script.js"></script>

<script>new WOW().init();</script>

