<div class="col-xxl-3 col-md-6 box-col-6">
    <div class="card">
        <div class="card-header total-revenue card-no-border">
            <h4>En Çok Gelir Elde Eden Ürün</h4>
            <div class="sales-chart-dropdown-select">
                <div class="card-header-right-icon">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" id="dropdownMenuButtonup" data-bs-toggle="dropdown" aria-expanded="false">Bugün</button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonup" role="menu"><span class="dropdown-item">Geçen Ay</span><span class="dropdown-item">Geçen   </span><span class="dropdown-item">Dün </span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="revenueproduct" id="revenueproduct"> </div>
            <div class="sales-chart-dropdown">
                <ul class="balance-data flex-wrap flex">
                    <li><span class="circle bg-primary"></span><span class="f-light ms-1">Men & Women Jeans</span></li>
                    <li><span class="circle bg-warning"></span><span class="f-light ms-1">Men & Women T-shirts</span></li>
                    <li><span class="circle bg-secondary"></span><span class="f-light ms-1">Men & Women Shoes</span></li>
                    <li><span class="circle bg-light"></span><span class="f-light ms-1">Kurtas & Kurti</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>