@using FGShop.WebUI.Models.ProductModels
@model GetByProductIdModel

<div class="product-page-details">
    <h3>@Model.Data.ProductName</h3>
</div>
<div class="product-price">
    @Model.Data.Price TL
</div>
