<ul class="p-lr-28 p-lr-15-sm">
	<li class="flex-w flex-t p-b-7">
		<span class="stext-102 cl3 size-205">
			Weight
		</span>

		<span class="stext-102 cl6 size-206">
			0.79 kg
		</span>
	</li>

	<li class="flex-w flex-t p-b-7">
		<span class="stext-102 cl3 size-205">
			Dimensions
		</span>

		<span class="stext-102 cl6 size-206">
			110 x 33 x 100 cm
		</span>
	</li>

	<li class="flex-w flex-t p-b-7">
		<span class="stext-102 cl3 size-205">
			Materials
		</span>

		<span class="stext-102 cl6 size-206">
			60% cotton
		</span>
	</li>

	<li class="flex-w flex-t p-b-7">
		<span class="stext-102 cl3 size-205">
			Color
		</span>

		<span class="stext-102 cl6 size-206">
			Black, Blue, Grey, Green, Red, White
		</span>
	</li>

	<li class="flex-w flex-t p-b-7">
		<span class="stext-102 cl3 size-205">
			Size
		</span>

		<span class="stext-102 cl6 size-206">
			XL, L, M, S
		</span>
	</li>
</ul>